
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --fonte-padrao: "Poppins", sans-serif;
    --fonte-secundaria: "Inter", sans-serif;
    --texto-sm: 1rem;
    --cor-preta: #141414;
    --cor-amarelo: #FCBF07;
    --cor-cinza-escuro: #323332;
    --cor-cinza-claro: #50514F;
    --cor-cinza-branco: #FFFCF8;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

html, body {
    min-height: 100vh;
}