* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease;
    background: transparent;
    font-family: 'Inter', sans-serif;
    border-bottom: 2px solid var(--cor-cinza-claro);
    z-index: 1000;
}

.header.rolando {
    background-color: var(--cor-preta);
    border-bottom: 2px solid var(--cor-cinza-claro);
}

.fixed {
    position: fixed;
}

.header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 20px;
}

.logo {
    color: var(--cor-cinza-branco);
}